.oprtat-outer {
  color: #333;
  margin: 0 2em;
  padding-top: 0.3em;
  text-align: center;
  display: block;
}

.dark .oprtat-outer {
  color: #ddd;
}

.oprtat-outer p:nth-child(2) {
  font-size: 20px;
  color: #20B8E3;
}
