.oprtns-wrap-collabsible {
  margin-bottom: 1.2rem;
}

#oprtns-collapsed-stats {
  display: none;
}

.oprtns-lbl-toggle-ns {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: white;
  background: #DF471C;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.oprtns-lbl-toggle-ns:hover {
  color: lightgrey;
}

.oprtns-lbl-toggle-ns::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.oprtns-toggle {
  display: none;
}

.oprtns-toggle:checked+.oprtns-lbl-toggle-ns::before {
  transform: rotate(90deg) translateX(-3px);
}

.oprtns-collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.oprtns-toggle:checked+.oprtns-lbl-toggle-ns+.oprtns-collapsible-content {
  max-height: 9999999pt;
}

.oprtns-toggle:checked+.oprtns-lbl-toggle-ns {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.oprns-stats-table th,
.oprns-stats-table td {
  border: white solid 1pt;
  padding: 1pt 5pt;
}

.oprns-stats-table {
  width: 100%;
}

.oprns-stats-table th:first-child,
.oprns-stats-table td:first-child {
  text-align: left;
  /* Left-align the content within the first column */
}

.oprns-stats-table th:not(:first-child),
.oprns-stats-table td:not(:first-child) {
  text-align: center;
  /* Center-align the content within columns 2 to 5 */
}

.oprtns-button {
  background-color: #e5e5e5;
  border: none;
  color: #ff4713;
  padding: 10px 10px;
  margin: 10px;
  border-radius: .375rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.oprtns-button:hover {
  background-color: #bdbbbb;
  transition: 0.2s;
}

.dark .oprtns-button {
  background-color: #404040;
  color: #20B8E3;
}

.dark .oprtns-button:hover {
  background-color: #707070;
  transition: 0.2s;
}
