.oprtcore-checkbox {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.oprtcore-checkbox input[type="checkbox"] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  /*transform: translateY(-0.075em);*/
}

.oprtcore-checkbox input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(255, 109, 56);
}

.oprtcore-checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.oprtcore-checkbox input[type="checkbox"]:disabled::before {
  box-shadow: inset 1em 1em hsl(16, 0%, 61%);
}

.oprtcore-plugin {
  margin-bottom: 1em;
}

.oprtcore-plugin-title {
  font-weight: bold;
}

.oprtcore-authors {
  font-size: 0.8em;
}

.oprtcore-description {
  font-size: 0.8em;
  opacity: 0.5;
}

.oprtcore-refresh-reminder {
  margin-bottom: 1em;
}

.oprtcore-help-available {
  cursor: context-menu;
  text-decoration: underline dotted #7f7f7f;
}

.oprtcore-option-line {
  margin-bottom: 1rem;
}

.dark input.oprtcore-fix {
  background-color: #333;
}

input.oprtcore-fix {
  padding: 2px 5px;
}

input.oprtcore-ui-large-input {
  padding: 10px 10px;
  margin: 10px 10px 10px 0;
  border-radius: .375rem;
  font-size: 16px;
}

.oprtcore-ui-button {
  background-color: #e5e5e5;
  border: none;
  color: #ff4713;
  padding: 10px 10px;
  margin: 10px 10px 10px 0;
  border-radius: .375rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.oprtcore-ui-button:hover {
  background-color: hsl(0, 1%, 75%);
  transition: 0.2s;
}

.dark .oprtcore-ui-button {
  background-color: hsl(0, 1%, 25%);
  color: #20B8E3;
}

.dark .oprtcore-ui-button:hover {
  background-color: #707070;
  transition: 0.2s;
}

.oprtcore-ui-button-active {
  background-color: hsl(0, 1%, 67%);
}

.dark .oprtcore-ui-button-active {
  background-color: hsl(0, 1%, 33%);
}
