.oprtcore-checkbox {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  line-height: 1.1;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.oprtcore-checkbox input[type="checkbox"] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  /*transform: translateY(-0.075em);*/
}

.oprtcore-checkbox input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(255, 109, 56);
}

.oprtcore-checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.oprtcore-checkbox input[type="checkbox"]:disabled::before {
  box-shadow: inset 1em 1em hsl(16, 0%, 61%);
}

.oprtcore-plugin {
  margin-bottom: 1em;
}

.oprtcore-plugin-title {
  font-weight: bold;
}

.oprtcore-authors {
  font-size: 0.8em;
}

.oprtcore-description {
  font-size: 0.8em;
  opacity: 0.5;
}

.oprtcore-refresh-reminder {
  margin-bottom: 1em;
}

.oprtcore-help-available {
  cursor: context-menu;
  text-decoration: underline dotted #7f7f7f;
}

.oprtcore-option-line {
  margin-bottom: 1rem;
}

.dark input.oprtcore-fix, .dark select.oprtcore-fix {
  background-color: #333;
}

input.oprtcore-fix, select.oprtcore-fix {
  padding: 2px 5px;
}

input.oprtcore-ui-large-input {
  padding: 10px 10px;
  margin: 10px 10px 10px 0;
  border-radius: .375rem;
  font-size: 16px;
}

.oprtcore-ui-button {
  background-color: #e5e5e5;
  border: none;
  color: #ff4713;
  padding: 10px 10px;
  margin: 10px 10px 10px 0;
  border-radius: .375rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.oprtcore-ui-button:hover {
  background-color: hsl(0, 1%, 75%);
  transition: 0.2s;
}

.dark .oprtcore-ui-button {
  background-color: hsl(0, 1%, 25%);
  color: #20B8E3;
}

.dark .oprtcore-ui-button:hover {
  background-color: #707070;
  transition: 0.2s;
}

.oprtcore-ui-button-active {
  background-color: hsl(0, 1%, 67%);
}

.dark .oprtcore-ui-button-active {
  background-color: hsl(0, 1%, 33%);
}

#oprtcore-notifications {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 30em;
  z-index: 100;
}

.oprtcore-notification {
  font-weight: bold;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1.5em;
  color: white;
}

.oprtcore-notify-content-wrapper {
  display: flex;
  align-items: center;
}

.oprtcore-notify-icon-wrapper {
  width: 30px;
}

.oprtcore-notify-icon-wrapper > img {
  width: 20px;
  height: 20px;
}

.oprtcore-nbg-red {
  background-color: hsl(0, 100%, 40%);
}

.oprtcore-nbg-red a {
  color: hsl(0, 100%, 90%);
}

.oprtcore-nbg-green {
  background-color: hsl(153, 90%, 36%);
}

.oprtcore-nbg-blue {
  background-color: hsl(227, 74%, 39%);
}

.oprtcore-nbg-purple {
  background-color: hsl(258, 90%, 66%);
}

.oprtcore-nbg-gold {
  background-color: hsl(43, 74%, 49%);
}

.oprtcore-nbg-gray {
  background-color: hsl(0, 0%, 50%);
}

.oprtcore-nbg-brown {
  background-color: hsl(30, 38%, 33%);
}

.oprtcore-nbg-dark-gray {
  background-color: hsl(0, 0%, 40%);
}

.oprtcore-sidebar-icon {
  width: 24px;
}

.oprtcore-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: rgba(0,0,0,0.5);
  z-index: 100000;
}

.oprtcore-fullscreen-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  max-width: 900px;
  max-height: 500px;
}
.oprtcore-modal-common {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
}
.oprtcore-modal-common h3 {
  font-weight: bold;
  margin: 10px auto;
}
.oprtcore-modal-common > p {
  margin: 10px auto;
}

.dark .oprtcore-fullscreen-inner {
  background-color: #333;
}

.oprtcore-import-options {
  max-width: 500px;
  height: initial;
}

.oprtcore-import-method {
  background-color: #e5e5e5;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  width: 100%;
  background-size: 30px;
  background-position: 15px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.oprtcore-import-method .oprtcore-import-method-title {
  color: #ff4713;
  font-size: 16px;
}
.oprtcore-import-method .oprtcore-import-method-desc {
  font-size: 12px;
}
.dark .oprtcore-import-method {
  background-color: #404040;
}
.dark .oprtcore-import-method .oprtcore-import-method-title {
  color: #20B8E3;
}
