.oprtmr-div {
  color: #333;
  margin-left: 2em;
  padding-top: 0.3em;
  text-align: center;
  display: block;
}

.dark .oprtmr-div {
  color: #ddd;
}

.oprtmr-counter {
  font-size: 20px;
  color: #20B8E3;
}

.oprtmr-sbb {
  color: #20B8E3;
}
