.oprrct-outer {
  color: #333;
  margin-left: 2em;
  padding-top: 0.3em;
  text-align: center;
  display: block;
}

.dark .oprrct-outer {
  color: #ddd;
}

.oprrct-outer p:nth-child(2) {
  font-size: 20px;
  color: #20B8E3;
}
