.oprwsr-root-new {
  margin-top: -1rem;
  grid-gap: 1rem !important;
}

.oprwsr-root-new app-photo-b img {
  margin: auto;
}

.oprwsr-root-new .wf-review-card {
  height: initial;
  max-height: 380px;
}

.oprwsr-root-new #check-duplicates-card {
  max-height: initial;
}

.oprwsr-root-new .wf-image-modal img {
  max-height: calc((100dvh - 440px) / 2);
}

@media (max-width: 2000px) {
  .oprwsr-root-new .action-buttons-row {
    flex-direction: column !important;
    justify-content: initial !important;
  }
}

.oprwsr-thumbs-row {
  display: flex;
  flex-direction: row;
}

.oprwsr-root-new .dont-know-button {
  margin-left: 0 !important;
  padding: 0.375rem !important;
}

.oprwsr-root-new .question-title .question-subtitle-tooltip {
  margin-left: 0.5rem;
  line-height: 1.6rem;
}

.oprwsr-root-new app-question-card .main-section-container {
  justify-content: space-between;
}
