# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: 25.x
        cache: 'npm'
    - run: npm ci
    - run: npm run build-prod
    - name: Upload build artifacts
      uses: actions/upload-artifact@v5
      with:
        name: dist
        path: dist/*
        overwrite: true

  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v5
      with:
        name: dist
        path: dist
    - name: List files
      run: ls -laR dist
    - name: Create SSH key
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
        scp -i gha-oprtools dist/* gha-oprtools@varden.info:dist/
